{% extends "base.html" %}

{% block content %}

<form action="/qrwifi/" method="post">
    <p><label for="ssid">WIFI SSID :</label>
      <input type="text" name="ssid" value=""></p>
    <p><label for="ssid">Mot de passe :</label>
      <input type="text" name="passwd" value=""></p>
    <p>
      <label for="ssid">Type de WIFI :</label>
      <select name="stype">
	<option value="WPA">WPA</option>
	<option value="WEP">WEP</option>
	<option value="no">No encryption</option>
      </select>
    </p>

    <input type="submit"
id="bsubmit" value="QR Encode">

<div style="font-size: 0.6em; margin-top: 10px;">Aucune des informations saisies n'est enregistrée. <a href="https://github.com/natim/qrwifi">Voir le code</a></div>

<div style="font-size: 0.6em; margin-top: 10px;">&copy; 2011 - <a href="https://www.trunat.fr/" style="color: #2c5218; text-decoration: none;">Natim</a></div>
<div style="font-size: 0.6em; margin-top: 10px;"><a href="/url/" style="color: #2c5218; text-decoration: none;">Générer un QRCode d'URL</a></div>
</form>


{% endblock %}
