* {
	margin: 0;
	padding: 0;
}

body {
	background: black url("../img/fond.jpg") repeat-x;
	font-size: 15pt;
	color: #2c5218;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	position: relative;
}

#header {
	height: 20px;
	background: url("../img/header.png") bottom;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

#content {
	width: 960px;
	margin: 0 auto;
	padding: 0; 
	padding-bottom: 40px;
}

#logo {
	text-align: center;
	margin: 40px 0;
}

.box-globale {
	width: 88%;
	margin: 0 auto;
}

.fond-gris {
	border: 1px solid white;
	background: url("../img/contour_gris.png");
}	

.box-intermediaire {
	width: 91%;
	margin: 40px auto;
	padding: 20px 0px;
}

.fond-blanc {
	background: white;
}

.box-content {
	width: 733px;
	height: 340px;
	margin: 0px auto;
}

form {
	width: 733px;
	margin: auto;
	padding: 10px 0px;
	background-color: #c4c4c4;
	border: 1px solid #adadad;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

label {
    width: 200px;
    display: block;
    float: left;
    height: 51px;
    margin-top: 20px;
    padding-top: 10px;
}

input[type='text'], select {
	display: block;
	float: left;
	width: 496px;
	height: 51px;
	border: 2px solid black;
	font-size: 1.10em;
	padding-left: 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 20px 10px;
}

input[type='submit'] {
	display: block;
	background: url("../img/button_submit.png");
	width: 214px;
	height: 51px;
	border: 0;
	margin: auto;
	color: white;
	font-size: 1.6em;
}

#footer {
	height: 20px;
	background: url("../img/footer.png");
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    margin: 0 0 15px 15px;
}
